<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar class="col-md-3 sidebar text-white"></app-sidebar>
    <div class="col-md-9">
      <h1 class="text-primary">Abhishek</h1>
      <p class="text-muted">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, cum
        eaque perspiciatis quod debitis repellat vero quam illo cupiditate ea
        modi corporis nihil illum? Atque ipsum omnis, reprehenderit
        voluptatibus, officia nisi eum, similique suscipit cumque repellat
        error. Vero excepturi iste illo perferendis facilis neque earum nulla
        autem, aliquam quam, expedita eveniet? Dolorem voluptas laboriosam
        quibusdam a explicabo ad. Beatae molestias esse ullam alias eveniet nam
        corporis dolor? Aliquam eius id quasi consectetur aut magni ipsum
        dolorem odit, delectus quae tempore optio veniam, nihil, quaerat
        deserunt velit officiis excepturi asperiores aliquid magnam. Minus
        repudiandae facere itaque eos quas nam consequatur quibusdam vel ut.
        Fuga officia ratione, voluptates vitae ad, impedit quisquam itaque
        aliquam reiciendis nihil quod? Eligendi consequuntur nostrum, iure,
        commodi voluptate odit qui, mollitia quod rerum quo exercitationem!
        Tempora facere quos repellat sit in hic quia et quas libero ipsum
        consequatur voluptates voluptatum eaque laborum aliquid maiores ducimus
        nesciunt qui dolore enim, reprehenderit rem quis! Quis ut delectus,
        reiciendis repellendus atque, laboriosam praesentium veritatis fugiat,
        assumenda ipsum accusantium officiis nisi maxime fuga facilis iure
        itaque dolorum ullam? Laboriosam nam dolorum harum a ea molestiae
        temporibus, excepturi tempore quis sint veritatis rerum atque minima.
        Totam doloremque a voluptas dolore! Quos, autem.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
