<app-header></app-header>

<div>
  <div class="container mt-5">
    <div class="card border-primary">
      <div class="card-header text-primary border-primary">
        <h4>Link Master</h4>
      </div>
      <div class="card-body border-primary">
        <div *ngIf="isLoading; else elseBlock">
          <app-loader></app-loader>
        </div>
        <ng-template #elseBlock>
          <ng-container *ngFor="let item of users; let i = index">
            <button
              class="btn m-3 shadow p-3 text-primary border-info"
              routerLink="{{ item?.linkName }}"
            >
              <h1>
                <i class="{{ item?.className }}"></i>
              </h1>
              <br />
              <em> {{ item?.linkName }}</em>
            </button>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
