<app-header></app-header>

<div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header text-primary">
        <h4>Link Master</h4>
        <span *ngIf="isLoading; else elseTableBlock">
          <app-loader></app-loader>
        </span>
      </div>
      <div class="card-body">
        <!-- <div *ngIf="isLoading; else elseTableBlock">
          <app-loader></app-loader>
        </div> -->
        <ng-template #elseTableBlock>
          <ng-container *ngFor="let item of users; let i = index">
            <button class="btn btn-warning m-3">
              <i class="{{ item?.className }}"></i><br />
              {{ item?.linkName }}
            </button>
          </ng-container>
          <!-- <table class="table table-stripped table-bodered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Serial No.</th>
                <th>Link Name</th>
                <th>Slug Name</th>
                <th>Class Name</th>
                <th>Link Type</th>
                <th>Service Name</th>
                <th>Publish Status</th>
                <th>Controller Name</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.serialNo }}</td>
                <td>{{ item.linkName }}</td>
                <td>{{ item.slugName }}</td>
                <td>{{ item.className }}</td>
                <td>{{ item.linkType }}</td>
                <td>{{ item.microServiceName }}</td>
                <td>{{ item.publishStatus }}</td>
                <td>{{ item.controllerName }}</td>
                <td>{{ item.createdOn }}</td>
              </tr>
            </tbody>
          </table> -->
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
