<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar class="col-md-3 sidebar text-white"></app-sidebar>
    <div class="col-md-9">
      <h1 class="text-primary">AddCategory</h1>
      <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure tempore
        perferendis porro eius deserunt illum, saepe nostrum modi ad at nemo
        nulla sint. Enim consectetur possimus voluptatum eum, asperiores laborum
        perspiciatis officia! Quos doloribus veniam et rem recusandae veritatis
        quas, odit reiciendis dolorem, adipisci aut dicta voluptatem corrupti
        maxime nemo iusto, autem sed perferendis fugiat fugit rerum saepe
        asperiores blanditiis in. Consectetur dolor repudiandae dicta! Numquam
        maiores ut commodi, molestias quo unde omnis amet! Vitae ullam atque
        iusto soluta illum sint eius, consequuntur repellendus ea alias,
        adipisci nobis natus sapiente, delectus animi eligendi rerum recusandae
        illo eum vel molestias! Cum, aut illum aspernatur numquam eligendi
        mollitia quos in reiciendis porro asperiores quidem harum repellendus
        quis sit iste rerum ut reprehenderit non? Repellendus sapiente est
        incidunt culpa quas rem, quisquam facere alias optio minima. Vitae
        temporibus quos nobis excepturi quaerat, modi laborum tempora itaque
        recusandae libero quisquam eius eveniet laudantium magni neque alias
        totam dolore dolores autem aperiam at natus? Nisi nihil, ipsum
        voluptatum assumenda est distinctio molestias sint doloribus dolores
        harum repudiandae ipsam adipisci ex aut voluptatem possimus porro autem
        illo minus iusto ducimus dolorem molestiae quas! Dolore, dolorem! Minima
        totam numquam quasi consequatur molestiae. Ducimus, quaerat aut? Veniam,
        deserunt!
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
